# Allow esbuild and other packages to run their install scripts
# This is required for vite to work properly
enable-pre-post-scripts=true
side-effects-cache=false

# Packages that need to run postinstall scripts
public-hoist-pattern[]=*esbuild*
public-hoist-pattern[]=*core-js*
