# API
VITE_API_URL=/api/v1

# Supabase
VITE_SUPABASE_URL=https://ougfmkbjrpnjvujhuuyy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im91Z2Zta2JqcnBuanZ1amh1dXl5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU4MDM0MzcsImV4cCI6MjA4MTM3OTQzN30.MfdBfljoorNx5ekcFj1iVVOaZvPQ1Fs-tXiKLizVINk

# Stripe (for Stripe.js)
VITE_STRIPE_PUBLISHABLE_KEY=sb_publishable_XCiGVKP78Oh2g1bGG78JCQ_CkOqDrWj

